.App {
  text-align: center;
}

body {
  background: rgb(46, 63, 87);
  background: linear-gradient(
    90deg,
    rgb(63, 86, 119) 0%,
    rgba(33, 44, 61, 1) 42%,
    rgb(15, 21, 29) 100%
  );
}

/*SIDEBAR SECTION*/
.navbar.fixed-left {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 230px !important;
  flex-flow: column nowrap !important;
  align-items: flex-start !important;
  background-color: black !important;
  z-index: 1200 !important;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a {
  color: rgb(145, 145, 145) !important;
  transition: 0.3s  !important;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

.navbar.fixed-left .navbar-brand {
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  padding-left: 10px !important;
}

ul {
  list-style-type: none;
  padding-left: 3px;
}

.nav-btn {
  margin-bottom: 20px !important;
  text-align: center;
}

.nav-btn p {
  color: rgb(145, 145, 145) !important;
  text-decoration: none;
}


.nav-link i {
  font-size: 1.5em;
}

.clickable{
  cursor: pointer;
}

.songImg:hover {
  transform: scale(1.2) !important;
}

.signup-btn {
  background-color: white !important;
  color: black !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  width: 180px !important;
  margin-bottom: 20px !important;
}

.favimg{
  width: 50px !important;
}

.lastGallery{
  margin-bottom: 10em !important;
}

.play{
  width: 20px !important;
}
.play:hover{
  transform: scale(1.2);
  color: #1DB954 !important;
}

.logo{
  height:35px !important;
}

.signup-btn:hover {
  transform: scale(1.1);
  color: white !important;
  background-color: rgb(60, 211, 60) !important;
  border: 1px solid rgb(60, 211, 60) !important;
}

.login-btn {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  width: 180px !important;
  margin-bottom: 15px !important;
}

.login-btn:hover {
  transform: scale(1.1);
  color: black !important;
  background-color: white !important;
}

@media screen and (max-width: 936px) {
  #sidebar {
    display: none;
  }
}

/* BOTTOM PLAYER SECTION*/

.bg-container {
  height: 5.5rem;
  background-color: #282828;
}

.playerControls div {
  justify-content: space-between !important;
}

.playerControls div:first-of-type {
  margin-left: 10%;
  margin-right: 10%;
}

.playerControl:hover {
transform: scale(1.2) !important;
color: #1DB954 !important;
}
.playerControl {
  width: 15px  !important;
  object-fit: contain !important;
  margin-top: 1rem  !important;
  filter: brightness(60%)  !important;
}

.cover{
  width: 70px !important;
  margin-left: 4em !important;
  margin-top: 0.5em !important;
}

.boh {
  height: 100px !important;
  padding: 0 , 5em !important;
}

.play{
  width: 10px !important;
}

.playerControls a:hover {
  filter: brightness(80%)  !important;
  color: #282828 !important;
}

.progress {
  color: #1DB954 !important;
  background-color: #414141 !important;
  height: 3px !important;
}

@media screen and (min-width: 1200px) {
  .playerControls div:first-of-type {
    margin-left: 25%  !important;
    margin-right: 25%  !important;
  }
}

/*MAIN PAGE SECTION*/

.mainLinks {
  margin-top: 1.5rem;
  justify-content: space-evenly;
}

.mainLinks a {
  color: white;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.3;
  text-decoration: none;
}

.mainLinks a:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

.imgLinks a p,
.mainPage p {
  padding-top: 8px;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

#rock,
#pop,
#hiphop {
  color: white;
  font-weight: 700;
  padding-top: 50px;
}

#hipHopSection {
  margin-bottom: 7rem;
}

.mainPage img {
  width: 200px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
